<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBviLkj2NTA4g419sqH5UIAZFhfbdbeZ50</string>
	<key>GCM_SENDER_ID</key>
	<string>476341534531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trafic</string>
	<key>PROJECT_ID</key>
	<string>traffic-accidents-50a2b</string>
	<key>STORAGE_BUCKET</key>
	<string>traffic-accidents-50a2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476341534531:ios:15b799356fdfbaf9c4f9f6</string>
</dict>
</plist>